* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

:root {
  --black: #030303;
  --white: #EFEFEF;
  --grey: #636366;
  --backgound-color: var(--black);
  --text-color: var(--white);
}

@media (prefers-color-scheme: light) {
  :root {
    --backgound-color: var(--white);
  --text-color: var(--black);
  }
}

html {
  font: 100%/1.5 "IBM Plex Serif", serif;
  color: var(--text-color);
  background-color: var(--background-color);
}
